*,
*::before,
*::after {
    box-sizing: border-box;
}

.producto {
    padding: .8rem;
    background-color: #e5e5e5;
}

@media screen and (min-width: 768px) {
    .producto {
        padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    }

}

.producto__titulo {
   
    font-size: 24px;
}

@media screen and (min-width: 768px) {
    .producto__titulo {

        font-size: 24px;
    }

}

.header__main {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (min-width: 768px) {
    .header__main {
        font-size: 1rem;
    }

}

.form__input {
 

   
}

.producto__boton {
    padding: .3rem;
    color: white;
    background-color: #1aabc2;
    border-color: #17a2b8;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    border: none;
    transition: background .8s;
   
}
.producto__boton:hover{
    background-color:#118394 ;
}

@media screen and (min-width: 768px) {
    .producto__boton {
        padding: .5rem;
    }

}


.nuevo__producto {
    display: none;
}

.contenido {
    background-color: white;
padding: 1rem;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .contenido{
        padding:0;
    }

}

.nuevoProducto {
    background:rgb(0, 158, 251);
    margin: 0;
    padding: 1rem;
}

.nuevoProducto__form {
    display: flex;
    flex-direction: column;

    padding: 1rem 0;
    padding-top: 0;

}

@media screen and (min-width: 768px) {
    .nuevoProducto__form {
        padding: 1rem 1rem;
        
    }

}

.form__item {
    width: 100%;

    margin: .5rem 0;
    border-radius: 3px;
}

.form__text {
    width: 100%;
    border-radius: 3px;


}

.nuevo__producto {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, .5);
    top: 0;
    left: 0;
    padding:2.5rem .5rem;
}

@media screen and (min-width: 768px) {
    .nuevo__producto {
        padding: 2rem 10rem;
    }

}

@media screen and (min-width: 1200px) {
    .nuevo__producto {
        padding: 2rem 25rem;
    }
}

.botonesProducto {
    margin: 1rem 0;
    display: flex;
    justify-content: flex-end;
}

.form__submit {
    margin: 0rem .3rem;

}

.cancelar {
    background-color: rgb(218, 40, 40);
    color: white;
    padding: .8rem;
    border-radius: 3px;
    text-decoration: none;
    font-size: 14px;
    transition: background .8s;
}
.cancelar:hover{
    background-color: rgb(177, 37, 37);
}

@media screen and (min-width: 768px) {
    .cancelar {
        font-size: 1rem;
    }

}


.guardar {
    
    border-radius: 3px;
    cursor: pointer;
    border: none;
    color: white;
    padding: .8rem;
    background-color: white;
    color: rgb(0, 158, 251);
    border:1px solid rgb(0, 158, 251);
    transition: background  .8s;
    
}
.guardar:hover{
    background-color:rgb(0, 158, 251);
    color: white;
}
.producto__tabla {
    font-size: 14px;
    overflow-x: auto;
    margin-top: 1rem;
}

@media screen and (min-width: 768px) {
    .producto__tabla {
        font-size: 1rem;
    }

}

.tabla {
    width: 1050px;
    background-color: white;
    border-collapse: collapse;
    text-align: left;
}

@media screen and (min-width: 768px) {
    .tabla {
     width: 100%;
    }

}


.tabla__head {
    background-color: #00c1c8;
    border-bottom: solid 5px #007579;
    color: white;
}

.tabla,
.tabla__celda {
    border: solid 1px black;
    padding: 0 20px;
    height: 50px;

}

.tabla__celda {
    
    padding: .2rem;
}

@media screen and (min-width: 768px) {
    .tabla__celda {

        padding: .8rem;
    }

}

.editar,
.eliminar {
    cursor: pointer;
}

.editar_b{
   background-color: orange;
   border: none;
   padding: .8rem;
   border-radius: 3px;
   transition: background .8s;
}
.editar_b:hover{
    background-color: rgb(185, 125, 14);
}
.eliminar_b{
    background-color: red;
    border: none;
    padding: .8rem;
    border-radius: 3px;
    transition: background .8s;
}
.eliminar_b:hover{
    background-color: rgb(175, 13, 13)
}
.items {
    display: flex;
}

.items__1 {
    padding: .3rem;
    border: 1px solid gray;
    font-size: 14px;
    text-decoration: none;
    color: black;
    margin-top: .5rem;
}

@media screen and (min-width: 768px) {
    .items__1 {
        font-size: 1rem;
    }
}

.display__nuevo {
    display: block;
}

.text_label{
    font-size: 14px;
}
@media screen and (min-width: 768px) {
    .text_label{
        font-size: 1rem;
    }
}

.tabla__fila:nth-child(odd):not(:first-child){
    background-color: #f0f0f0;
}


.tabla__fila:hover:not(:first-child){
    background-color: rgba(63, 150, 156, 0.5);
    color: white;
}

.tabla__celda{border: solid 1px black;
    padding: 0 20px;
    height: 50px;
    
}

