*,
*::before,
*::after {
  box-sizing: border-box;
}

figure,
body {
  margin: 0;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

/* .container{
  width: 100%;
  max-width: 1366px;
} */

.header {
  flex: .8;
  display: flex;
  flex-direction: column;
  border: 0.5px solid #c7c2c2;
  border-top: none;
}

.header__img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.burger-button {
  background-color: grey;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
  z-index: 6000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  right: 15px;
  top: 15px;
  display: none;
}

.nav {
  flex: 1;
  padding-top: 2.5rem;
}

.menu {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  width: 70%;
  margin: 0 auto;
}

.menu__item {
  margin: 1.5rem 0;
  padding-left: 15px;
}

.menu__link {
  text-decoration: none;
  color: black;
}

.menu__link:hover {
  color: orange;
  /*Referencia*/
}

.main {
  flex: 5;
}

.menuHo {
  border: 0.5px solid #c7c2c2;
  border-left: none;
  border-top: none;
}

.menuHo__img {
  width: 15%;
  padding: 1.5rem;
  padding-left: 3rem;
  min-width: 175px;
  min-height: 120px;
}

.menuHo__usuario {
  display: flex;
  align-items: center;
}
.ver__tienda1{
  text-decoration: none;
  color:black;
  font-size: 14px;
  text-align: center;
}

.menuHo__usuarioSection{

  display: flex;
  width: 77%;
}



@media screen and (min-width: 768px) {
  .menuHo__usuarioSection{

    
    width: 81%;
  }
}

.menuHo__nombre {
  align-self: center;
  
}

.icono {
  margin-right: .5rem;
}


@media screen and (max-width: 768px) {
  .body {
    display: initial;
  }

  .header {
    flex: initial;
    position: fixed;
    width: 100%;
    height: 90px;
    padding-left: 15px;
    background-color: #e5e5e5;
    border: none;
  }

  .header__logo,
  .header__img {
    height: 100%;
    object-fit: contain;
  }

  .header__img {
    width: 30%;
    margin: initial;
  }

  .nav {
    padding: 0;
    top: 90px;
    left: -4000px;
    position: fixed;
    width: 100%;
    height: calc(100% - 90px);
    z-index: 5000;
    background-color:  #f5f5f5;;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s;
    
  }

  .menu {
    align-items: center;
  }

  .menu__item {
    width: 120px;
    
  }

  .nav.is-active {
    left: 0px;
  }

  .burger-button {
    display: flex;
  }

  .menuHo__img {
    padding-left: 2rem;
  }

  .main {
    margin-top: 90px;
  }
}

@media screen and (max-width:320px) {
  .menuHo__img {
    padding-left: 1rem;
  }
}

.formulario {
  padding: .8rem;
  padding-bottom: 1rem;
}

.datos {
  display: flex;
  flex-direction: column;
}

.datos__titulo {
  text-align: center;
}

.datos__form {
  margin: .8rem 0;
  border-radius: 5px;
  border: .5px solid gray;
  background-color: #f5f5f5;
  height: 29px;
}

.selectores {
  display: flex;
  text-align: center;
}

.departamento,
.provincia,
.distrito {
  width: 33%;
}

.text_area {
  width: 100%;
}

.descripcion,
.selectores,
.imagen {
  font-size: 13px;
}

.texto {
  font-size: 12px;
}

.imagen {
  display: flex;
  flex-direction: column;
}

.indicacion__form {
  width: 100%;
  height: auto;
}

.imagen__submit {
  width: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  background-color: rgb(5, 168, 147);
  color: white;
  padding: .2rem 0;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .formulario {
    padding: 0 2rem;
  }

  .datos {
    flex-direction: row;
    flex-wrap: wrap;
    width: 103%;
  }

  .datos__form {
    width: 48%;
    margin-right: .3rem;
  }

  .descripcion,
  .selectores {
    width: 48%;
  }

  .text_area {
    width: 100%;
    padding-right: .3rem;
  }

  .texto {
    width: 100%;

  }

  .selectores {
    text-align: left;
  }

  .departamento,
  .distrito,
  .provincia {
    margin: 0 .3rem;
  }

  .datos__titulo {
    width: 100%;
    padding: 0 8rem;
    font-size: 2rem;
  }

  .descripcion,
  .selectores,
  .imagen {
    font-size: 1rem;
  }

  .datos__form {
    height: 38px
  }


  .indicacion__form {
    height: auto;
    width: 70%;
  }

  .imagen {
    flex-direction: row;
  }


  .imagen__img1 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

  }

  .imagen__logo,
  .indicacion {
    flex: 1;
  }

  .indicacion {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .imagen__submit {
    margin-bottom: 2rem;
    width: 20%;
    padding: .5rem 0;
    border-radius: 20px;
  }
}






@media screen and (min-width: 930px) {
  .formulario {
    padding: 0 8rem;
  }
}