*,
*::before,
*::after {
  box-sizing: border-box; }

figure, body {
  margin: 0; }

.body {
  min-height: 100vh;
  display: flex; }

.header {
  flex: .8;
  display: flex;
  flex-direction: column;
  border: 0.5px solid #c7c2c2;
  border-top: none; }
  .header__img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block; }

.nav {
  flex: 1;
  padding-top: 2.5rem; }

.menu {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  width: 70%;
  margin: 0 auto; }
  .menu__item {
    margin: 1.5rem 0;
    padding-left: 15px; }
  .menu__link {
    text-decoration: none;
    color: lightblue; }

.main {
  flex: 5; }

.menuHo {
  border: 0.5px solid #c7c2c2;
  border-left: none;
  border-top: none; }
  .menuHo__img {
    width: 15%;
    padding: 1.5rem;
    padding-left: 3rem; }
  .menuHo__usuario {
    display: flex; }
  .menuHo__nombre {
    align-self: center; }

.icono {
  margin-right: .5rem; }
